@import "../../styles/base/variables.scss";

.root {
  position: relative;
  min-height: 100vh;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  overflow-y: auto;

  &::after {
    content: "";
    height: 1000vh;
  }

  h1 {
    font-size: 7rem;
    color: $white;
    user-select: none;
    line-height: 0.9;
  }

  @include media-breakpoint-down(lg) {
    height: auto;
    padding: 4rem 0;
    min-height: 0;

    h1 {
      font-size: 4.6875rem;
    }
  }

  @include media-breakpoint-down(lg) {
    h1 {
      font-size: 2.8125rem;
    }
  }
}

.titleContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  pointer-events: none;
  transition: opacity $transition * 3 ease;

  &:global(:not(.s0)) {
    opacity: 0;
    pointer-events: none;
    transition-delay: $transition * 4;
  }
}

.likeAnimation {
  position: absolute;
  bottom: -140px;
  right: 20px;
  width: 237px;
  height: 237px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all $transition * 2 cubic-bezier(0.51, 0.92, 0.24, 1.15);

  &:global(.active) {
    transform: scale(1);
  }

  @include media-breakpoint-down(lg) {
    width: 160px;
    height: 160px;
    bottom: -70px;
    right: 40px;
  }

  @include media-breakpoint-down(md) {
    width: 80px;
    height: 80px;
    bottom: 90px;
    right: 20px;
  }
}

.likeBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  animation: spin 40s linear infinite;
}

.likeVideo {
  position: relative;
  z-index: 2;
  width: 115px;
  height: 115px;
  border-radius: 50%;
  overflow: hidden;
  transform: rotate(15deg);

  @include media-breakpoint-down(lg) {
    width: 90px;
    height: 90px;
  }

  @include media-breakpoint-down(md) {
    width: 40px;
    height: 40px;
  }
}

.phone {
  position: absolute;
  width: 331px;
  height: 671px;
  display: flex;
  align-items: center;
  justify-content: center;
  left: auto;
  z-index: 2;
  top: auto;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transform: translateY(100%) translateX(-50%);
  transition: opacity $transition ease;

  &:global(.active) {
    opacity: 1;
    transition-delay: 1000ms;
  }

  &:global(.s1) {
    animation: phone1 5s ease;
    animation-fill-mode: forwards;
  }

  &:global(.s2) {
    animation: phone2 5s ease;
    animation-fill-mode: forwards;
  }

  &:global(.s3) {
    animation: phone3 5s ease;
    animation-fill-mode: forwards;
  }

  &:global(.s4),
  &:global(.s5) {
    animation: phone4 5s ease;
    animation-fill-mode: forwards;
  }
}

.phoneBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.videoContainer {
  width: 298px;
  height: 645px;
  border-radius: 30px;
  overflow: hidden;

  video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}

.blocks {
  position: fixed;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding-top: $header-height;
  pointer-events: none;

  &:global(.active) {
  }

  &:global(.enable) {
    pointer-events: all;
  }
}

.blocksInner {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  transition: opacity $transition ease;

  &:global(.s0) {
    opacity: 0;
  }
}

.blockShape {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  height: 570px;
  pointer-events: none;
}

.blockHeading {
  user-select: none;
  margin-bottom: 2rem;
}

.blockParagraph1 {
  max-width: 400px;
  height: 180px;
  position: relative;

  > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: opacity $transition * 2 ease;
  }

  &:global(.play) {
    > div {
      &:first-child {
        opacity: 1;
      }
    }
  }

  &:global(.play2) {
    > div {
      &:first-child {
        opacity: 0;
      }
      &:last-child {
        opacity: 1;
        transition-delay: $transition * 4;
      }
    }
  }
}

.blockInner {
  transition: all $transition * 3 ease;

  &:global(.play) {
    &:global(.offset2) {
      transform: translateY(-50%) translateY(-50px);
      transition-delay: $transition * 10;
    }
  }
}

.colum1 {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
  padding-left: 8rem;
}

.colum2 {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
}

.phoneVideo1,
.phoneVideo3,
.phoneVideo4 {
  border-radius: 30px;
  overflow: hidden;
}

.phoneVideo2 {
  right: 0 !important;
  left: auto !important;
  transform: translateY(-50%) translateX(0) !important;
}

.phoneVideo1,
.phoneVideo2,
.phoneVideo3,
.phoneVideo4 {
  opacity: 0;
  transition: opacity $transition ease;

  &:global(.active) {
    opacity: 1;
  }
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;

  li {
    position: relative;
    padding: 0.25rem 0;
    padding-left: 3rem;
    display: flex;
    align-items: center;

    span {
      opacity: 0;
      display: block;
      transform: translateX(5px);
      transition: all $transition * 5 ease;
    }

    svg {
      position: absolute;
      top: 0.5rem;
      left: 0;
      transform: scale(0);
      transition: transform $transition*5 cubic-bezier(0.51, 0.92, 0.24, 1.15);
    }
  }

  &:global(.play) {
    li {
      span {
        opacity: 1;
        transform: translateX(0);
      }
      svg {
        transform: scale(1);
      }

      &:nth-child(1) {
        span {
          transition-delay: 0;
        }
        svg {
          transition-delay: 0;
        }
      }

      &:nth-child(2) {
        span {
          transition-delay: $transition*2;
        }
        svg {
          transition-delay: $transition*2;
        }
      }

      &:nth-child(3) {
        span {
          transition-delay: $transition * 4;
        }
        svg {
          transition-delay: $transition * 4;
        }
      }

      &:nth-child(4) {
        span {
          transition-delay: $transition * 6;
        }
        svg {
          transition-delay: $transition * 6;
        }
      }

      &:nth-child(5) {
        span {
          transition-delay: $transition * 8;
        }
        svg {
          transition-delay: $transition * 8;
        }
      }
    }
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes phone1 {
  0% {
    top: auto;
    left: 50%;
    bottom: 0;
    transform: translateY(100%) translateX(-50%);
  }
  40% {
    left: 50%;
    bottom: 0;
    transform: translateY(40%) translateX(-50%);
  }
  70% {
    left: 50%;
    bottom: 50%;
    transform: translateY(50%) translateX(-50%);
  }
  100% {
    left: calc((100vw - 1000px) / 2);
    bottom: 50%;
    transform: translateY(50%) translateX(0) rotate(-15deg);
  }
}

@keyframes phone2 {
  0% {
    left: calc((100vw - 1000px) / 2);
    bottom: 45%;
    transform: translateY(50%) translateX(0) rotate(-15deg);
  }
  40% {
    left: calc(100vw - (1500px / 2));
    bottom: 45%;
    transform: translateY(50%) translateX(-50%);
  }
  70% {
    left: calc(100vw - (1500px / 2));
    bottom: 45%;
    transform: translateY(50%) translateX(-50%);
  }
  100% {
    left: calc(100vw - (1500px / 2));
    bottom: 45%;
    transform: translateY(50%) translateX(-50%);
  }
}

@keyframes phone3 {
  0% {
    left: calc(100vw - (1500px / 2));
    bottom: 45%;
    transform: translateY(50%) translateX(-50%);
  }
  40% {
    left: calc((100vw - 1000px) / 2);
    bottom: 45%;
    transform: translateY(50%) translateX(0);
  }
  70% {
    left: calc((100vw - 1000px) / 2);
    bottom: 45%;
    transform: translateY(70%) translateX(0);
  }
  100% {
    left: calc((100vw - 1000px) / 2);
    bottom: 45%;
    transform: translateY(70%) translateX(0);
  }
}

@keyframes phone4 {
  0% {
    left: calc((100vw - 1000px) / 2);
    bottom: 45%;
    transform: translateY(70%) translateX(0);
  }
  40% {
    left: 50%;
    bottom: 45%;
    transform: translateY(50%) translateX(-50%);
  }
  70% {
    left: calc(100vw - (1500px / 2));
    bottom: 45%;
    transform: translateY(70%) translateX(-50%) rotate(10deg);
  }
  100% {
    left: calc(100vw - (1500px / 2));
    bottom: 45%;
    transform: translateY(70%) translateX(-50%) rotate(10deg);
  }
}
