@import "../base/variables.scss";

.textPrimary {
  font-size:  0.875rem;
  font-weight: 600;
  color: $primary;
  letter-spacing: 0.03125rem;
  line-height: 1.2;
}

.textRegular {
  font-size: 1.5rem;
  color: $white;

  strong {
    font-weight: 700;
  }
}

.title2 {
  font-size: 4rem;
  color: $white;
  line-height: 0.9;
}

@include media-breakpoint-down(md) {
  .textRegular {
    font-size: 1.25rem;
  }
}